.cardContainer{
  display:flex;
  flex-wrap: wrap;
}
.me-auto{
  display: flex;
  justify-content: space-between;
  width:20vw;
  
}
.me-auto a{
  font-family: sans-serif;
  color: white;
  font-size: 1.25rem;
  background-color:grey;
  border: solid black 1px;
  border-radius: 3px;
  padding: 2px;
}
.welcome{
  display: flex;
  justify-content: center;
  font-family: 'Pokemon Solid', sans-serif;
  margin-bottom: 30px;
    color:#ffcb05;
    font-size:30px;
    text-shadow: 4px 4px 0px blue;
    -webkit-text-stroke: 2px#3a5ba7;
}
.cartNotice{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color:red;
}
.card-body{
  background: radial-gradient(#ffcb05,rgb(232, 235, 206));
}
.card-title{
  display: flex;
  justify-content: center;
}
.list-group-item{
  background-color: rgb(245, 233, 217);
}